aftership==0.2
appdirs==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==3.1.1
casttube==0.2.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorzero==1.1
decorator==4.4.0
enum34==1.1.6
feedparser==5.2.1
future==0.17.1
futures==3.1.1
gmusicapi==12.1.0
google-api-python-client==1.7.9
google-assistant-grpc==0.2.1
google-assistant-library==1.0.1
google-assistant-sdk==0.5.1
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
googleapis-common-protos==1.6.0
googletrans==2.4.0
gpiozero==1.5.0
gpsoauth==0.4.1
grpcio==1.21.1
gTTS==2.0.3
gTTS-token==1.1.3
httplib2==0.13.0
idna==2.8
ifaddr==0.1.6
kodi-json==1.0.0
lxml==4.3.4
MechanicalSoup==0.11.0
mock==3.0.5
mutagen==1.42.0
netifaces==0.10.9
numpy==1.16.4
oauth2client==4.1.3
oauthlib==3.0.1
pafy==0.5.4
pathlib2==2.3.3
pbr==5.3.1
pixel-ring==0.1.0
pkg-resources==0.0.0
proboscis==1.2.6.0
protobuf==3.8.0
psutil==5.6.3
pushbullet.py==0.11.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAudio==0.2.11
PyChromecast==3.2.2
pycparser==2.19
pycryptodomex==3.8.2
python-dateutil==2.8.0
python-magic==0.4.15
python-vlc==3.0.6109
pyusb==1.0.2
PyYAML==5.1.1
requests==2.22.0
requests-oauthlib==1.2.0
RPi.GPIO==0.6.5
rsa==4.0
six==1.12.0
snowboy==1.3.0
sounddevice==0.3.13
soupsieve==1.9.1
spidev==3.4
spotipy==2.4.4
tenacity==5.0.4
uritemplate==3.0.0
urllib3==1.25.3
validictory==1.1.2
voice-engine==0.1.3
websocket-client==0.56.0
youtube-dl==2019.6.21
zeroconf==0.23.0
